@import "../colours.css";

.satsuma_button {
  display: inline-block;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  background-color: var(--orange-400);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  overflow-y: scroll;

  .icon {
    margin-right: 6px;
  }
}

.satsuma_button--full-width {
  width: 100%;
}
