.satsuma_list {
  li:first-child {
    a {
      border: none;
    }
  }
}

.satsuma_list__item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid var(--text-colour);
}

.satsuma_list__item-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.satsuma_list__item:first-child {
  border-top: none;
}
