.satsuma_list {
  width: 100%;
}

.satsuma_list__item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-top: 1px solid var(--text-colour);
}

.satsuma_list__item:first-child {
  border: none;
}

.satsuma_list__item-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
