.satsuma_page {
  padding: 20px;
}

.satsuma_page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  :is(select) {
    max-width: 200px;
  }
}
